<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acerca Del Equipo De Trabajo</title>
  <link rel="stylesheet" href="acerca-de.component.css">

</head>

<body>
  <div class="container">


  <h1>Nuestro Equipo</h1>
  <h1>DS01SV-21</h1>
  <div class="fotos">
    <div class="foto">
      <img src="https://scontent.fntr4-1.fna.fbcdn.net/v/t39.30808-6/212928095_1424052781285906_1899473586557977592_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=iauV2Thsj7YAX9P8uBs&tn=3uihokLLZkLJBGLX&_nc_ht=scontent.fntr4-1.fna&oh=00_AT903OyvgHuaE_235VSf90KYY7jlxNUaxz7JYSXJaceomQ&oe=62D19315"
        alt="">
    </div>
    <div class="pie">
      <p>Gómez Ramírez María Fernanda</p>

    </div>
  </div>
  <div class="fotos">
    <div class="foto">
      <img
        src="https://scontent.fntr4-1.fna.fbcdn.net/v/t1.6435-9/39006466_1850803305010978_1487400775796654080_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=174925&_nc_ohc=8GRCFZVbxFkAX9T3kVb&tn=3uihokLLZkLJBGLX&_nc_ht=scontent.fntr4-1.fna&oh=00_AT_BYl4AZQoXPL_20LtOi503adOZyUaxHZfGVw-mv6iYbg&oe=62F35598"
        height="50 px" weight="50px">
    </div>
    <div class="pie">
      <p>Rojo Ugalde Andres</p>

    </div>
  </div>
  <div class="fotos">
    <div class="foto">
      <img
        src="https://scontent.fntr4-1.fna.fbcdn.net/v/t39.30808-6/289577753_2289654201172311_7285085615128090198_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=T7xVoPcat8cAX_EH-Ne&_nc_ht=scontent.fntr4-1.fna&oh=00_AT-wXj_Aa8-hqeaGhr_5y_GCxAPKBFL5JUc8dmDUAKH37A&oe=62D22718"
        alt="">
    </div>
    <div class="pie">
      <p>Lugardo Segundo Rodrigo</p>

    </div>
  </div>
  <div class="fotos">
    <div class="foto">
      <img
        src="https://scontent.fntr4-1.fna.fbcdn.net/v/t39.30808-6/270251420_615302816444424_1095196846872929675_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=174925&_nc_ohc=3EveH9VzkKUAX-D896a&_nc_ht=scontent.fntr4-1.fna&oh=00_AT8mLowdl0l-BJxq7_6RW9159hfZNIZXgWjwo7dYywlpMQ&oe=62D2576E"
        alt="">
    </div>
    <div class="pie">
      <p>Miranda Munguia Juan Silvestre</p>

    </div>
  </div>
</div>
</body>

</html>
