<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">Agencia de Autos</a>


  <div id="navbarNav" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/inicio">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/listar-autos">Lista de autos </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/crear-autos">Agregar auto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/acerca">Acerca De</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
